<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742739090143-ql972n5bubii2b8jsv2jb1fktj27adf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742739090143-ql972n5bubii2b8jsv2jb1fktj27adf0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>742739090143-ebupp8s3snpmhsp499npie2ae7ikpmjp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDd_W-tPbI0F8ZRw1T5cAKLobOIfVLotDM</string>
	<key>GCM_SENDER_ID</key>
	<string>742739090143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.bitbot.phonetowers</string>
	<key>PROJECT_ID</key>
	<string>aus-phone-towers-7d175</string>
	<key>STORAGE_BUCKET</key>
	<string>aus-phone-towers-7d175.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742739090143:ios:9f84b3f7da18d9fcb2a76a</string>
	<key>DATABASE_URL</key>
	<string>https://aus-phone-towers-7d175.firebaseio.com</string>
</dict>
</plist>